[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
pillow = "*"
exifread = "*"

[dev-packages]
pyinstaller = "*"
pytest = "*"
pytest-cov = "*"
black = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.12"
